<div class="container" style="text-align: center;">
        <h1 style="text-align:center; font-size:3rem; margin-bottom:50px;">About Us</h1>

        <h4 style="color: rgb(172, 59, 59); font-size:1.5rem;">Quality, service and style, all at a affortable price
        </h4>
        <p style="color: black; font-size:20px; margin-bottom: 30px;">We believe that with the right team, the right
                price and the right products, your perfect salon experience should just fall into place — like the
                perfect cut. We prove it every day.</p>


        <h4 style="color:  rgb(172, 59, 59); font-size:1.5rem;">An affordable salon experience you can trust</h4>
        <p style="color: black; font-size:20px; margin-bottom: 30px;">In August 2000, John Doe opened the first
                Fantastic Siva beauty salon in Trubei, Carolina, with the goal of creating an affordable salon
                experience that was accessible to everyone. Today we have over 100 locations throughout North America.
                Learn more about becoming a franchisee.</p>

        <h4 style="color:  rgb(172, 59, 59); font-size:1.5rem;">Awards</h4>
        <p style="color: black; font-size:20px; margin-bottom: 30px;">Whether you’re looking for great salon color,
                salon services for men, or simply a fuss-free affordable haircut, Fantastic Sams delivers every time.
                The reason for that success? It begins with a team of people who know how to make you look and feel
                fantastic. And it continues long after your visit, with products you can count on to keep your hair
                looking great.

        </p>

        <div id="address" style="font-size: 1.7rem;">Corporate Headquarters Contact Information

                <p>Siva Fantastic Ltd</p>
                <p>Valour Towers, Baltic Blvd</p>
                <p>Suite-2018</p>
                <p>Victory, CA 12345</p>
        </div>


</div>