<div class="container1" style="display:grid; place-items:center;" >
                <h1> Admin panel</h1>
   
     <div style="display:grid; place-items:center;margin:3px 10px;height: 100%;;">
                
                <br>
            <a href="/users/login" class="btn btn-primary  mb-2">Login</a>
            <br>
            <br>
            <a href="/users/forgotpassword" class="btn btn-primary  mb-2">Reset password</a>
            <br>
            <br>
            {{!-- <a href="/users/register" class="btn btn-primary  mb-2">Register</a> --}}
        </div>
    
</div>