<div class="container">
    <h1 style="text-align:center; font-size:3rem; margin-top:40px;margin-bottom:40px;">Latest Trends and News</h1>
    <div id="news">

        <div class="pictures">
            <img src="../images/news1.jpg" alt="">
        </div>
        <div class="content">
            <h4>Stylish and Easy Hairstyles To Do At Home</h4>
            <p>Some of us may still be working from home,
                educating the homeschoolers or may simply have fallen into a hairstyle rut. It’s so easy to do. Our
                routines
                are turned upside down – and often, our hair falls victim to our busy schedules. Not to worry though,
                you
                can spruce up your look for your next virtual meeting, work-from-home selfie or to change up your look
                for a
                little confidence boost.</p>
        </div>


        <div class="pictures">
            <img src="../images/news2.jpg" alt="">
        </div>
        <div class="content">
            <h4>Short Hair Don't Care: We're Loving These Short Hairstyles for Women</h4>
            <p>The shorter you go with your hair, the bolder
                your
                statement is. There is something both freeing and terrifying about cutting it all off, but don’t let the
                fear
                stop you! From bobs to pixies and everything in between, there are endless options to choose from.</p>
        </div>

        <div class="pictures">
            <img src="../images/news3.jpg" alt="">
        </div>
        <div class="content">

            <h4>Treat Yourself with These Easy Halloween Hairstyles for Kids</h4>
            <p>As with many other aspects of our lives in
                2020,
                our
                Halloween celebrations will surely look a little different this year. Whether you and the kiddos are
                planning to
                stay in and celebrate at home or brave the neighborhood trick-or-treating route, we’re here to help you
                prepare
                with some easy Halloween hairstyles for kids.</p>
        </div>

        <div class="pictures">
            <img src="../images/news4.jpg" alt="">
        </div>
        <div class="content">

            <h4>Trending Hairstyles for Late 2020</h4>
            <p>The year of change To say 2020 has been
                unprecedented
                is a gross understatement. With all the time spent in isolation and the services we’d grown to rely on
                no
                longer
                available, attempting tasks ourselves was tempting—with some outcomes working out better than others.
                It’s
                not
                an exaggeration to say that one of the most sought-after unavailable amenities was our hairstylist’s
                chair.
            </p>

        </div>
        <div class="pictures">
            <img src="../images/news5.jpg" alt="">
        </div>
        <div class="content">

            <h4>Find Your Inspiration With These Fall Hair Colors</h4>
            <p>The official first day of autumn is in late September,
                but October is the month that we can really declare the seasons have changed. Days are cooler, nights
                are
                crisp,
                and the bright and pastel colors of summer have transitioned to bold reds and browns.</p>

        </div>

    </div>
</div>