{{!-- <h2>Services</h2> --}}
<div class="container" >
  <h1 style="text-align:center; font-size:3rem; margin-bottom:5px;">Services</h1>
<h2 style="margin-bottom: 30px;">Services and pricing vary by location. Find a Salon near you! </h2>

 <br>


<h5 style="color:red;">HAIRCUTS</h5>
<p class="services" style="color:red;">

All cuts include fs shampoo therapy™
</p>


<p class="services">

Haircut – includes shampoo and tousle dry
</p>
<p class="services">

Haircut with Blowdry – includes shampoo and blowdry finish
</p>
<p class="services">

Kid's Cut – includes shampoo and tousle dry
</p>

 

<h5 style="color:red;">COLOR</h5>
<p class="services" style="color:red;">

All color services include blowdry. (Additional charges may apply for length, thickness and/or condition of hair.)
</p>

<p class="services">

Permanent Color – full head color application, single process color
</p>

<p class="services">

Color Retouch – 1" growth or less
</p>
<p class="services">

Grey Blending Color – blending coverage
</p>
<p class="services">

Color Correction – by consultation
</p>
<p class="services">

Trend Color – by consultation
</p>
<p class="services">

Area Highlights – up to 10 foils 
</p>
<p class="services">

Full Highlights – full head of highlights or lowlights using one color
</p>

 

<h5 style="color:red;">STYLING</h5>
<p class="services" style="color:red;">

(Additional charges may apply for length, thickness and/or condition of hair.)
</p>

<p class="services">

Blowdry – includes shampoo
</p>

<p class="services">

Blowdry with Hot Tools – includes shampoo
</p>
<p class="services">

Set and Curling Iron – includes shampoo
</p>

<p class="services">

Special Occasion Styling – formal styling, up-dos, braids, etc., shampoo not included (by consultation)
</p>

 

<h5 style="color:red;">TREATMENTS</h5>
<p class="services" style="color:red;">

(Additional charges may apply for length and thickness.)
</p>
<p class="services">

Moisture Replenishing – includes shampoo
</p>
<p class="services">

Protein Repair – includes shampoo
</p>
<p class="services">

Hair Detox Therapy – includes shampoo
</p>

 

<h5  style="color:red;">TEXTURE</h5>
<p class="services" style="color:red;">
Go for fun, beachy waves or a glossy, smooth style. (Additional charges may apply for length and thickness.)

</p>

<p class="services">

Permanent Wave
</p>
<p class="services">

Permanent Wave & Style 
</p>
<p class="services">

Specialty Permanent – by consultation
</p>

<p class="services">

Keratin/Smoothing – includes shampoo, blowdry and flat iron finish
</p>
<p class="services">

Relaxer – includes style
</p>
<p class="services">

Permanent Straightening
</p>

 

<h5  style="color:red;">SHAPING</h5>
<p class="services" style="color:red;">

At Fantastic Sams, we pay attention to detail! 
</p>
<p class="services">

Bang or Beard Trim
</p>
<p class="services">

Hair Removal – brow, lip or chin
</p>
</div>